/* 

This CSS file is contains the CSS rule sets for 
    - index.html
    - any universal elements that all pages use

The CSS for the take-action.html is in take-action.css

*/

/************************************************/
/************* UNIVERSAL ELEMENTS ***************/
/************************************************/

/* TODO: Customize your font properties and background color for all elements inside the <body> and <html> tags */
body,
html {
  height: 100%;
  font-size: 20px; /* Change the font size*/
  font-family: 'Roboto Condensed', sans-serif;/* Change the font */
  line-height: 1.5em; /* Change the line height size*/
  margin: 0em;
  color: white; /* Change the font color*/
  background-color: #0048ad; /* Change the background color */
  box-sizing: border-box;
/* scroll behavior */
  scroll-behavior: smooth;
}

h1 {
  letter-spacing: 5px;
  font-size: 50px;
  /*TODO: Change the font-family property to your linked font*/
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  text-align: center;
}

/*TODO: Change the font-family property to your linked font*/
h2 {
  letter-spacing: 3px;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: center;
  line-height: 1.3em;
}

h5 {
  font-family: 'Roboto Condensed', sans-serif;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

/*TODO: Change the color of a link when a person hovers over it*/
p a {
  color: #c68dff;
  text-decoration: none;
}

/************************************************/
/*************** CSS FOR NAV BAR ****************/
/************************************************/

/* All of these TODOs are optional. You should change the styling based on your mockup */

/* TODO (optional): Change the background color and/or border style */

ul.nav-bar {
  /* Styling for the <ul class="nav-bar"> element */
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #c68dff;
  border-style: solid;
  border-color: white;
}

/* TODO (optional): Change the font size*/

li.nav {
  /* Styling for the <li class="nav"> element */
  float: right;
  font-size: 15px;
}

/* TODO (optional): Change the font color, decoration, and/or case */

li.nav a {
  /* Styling for the <a> elements in <li class="nav"> */
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

/* TODO (optional): Change the background color and/or font color when the mouse hovers over an item */

li.nav a:hover {
  /* Styling for the <a> elements when the mouse is hovering in <li class="nav"> */
  color: #0048ad;
}

/************************************************/
/*********** CSS FOR FLEXBOX HEADING ************/
/************************************************/

/* TODO: Review the CSS properties to the flexbox container for title and intro text */
.flex-container {
  display: flex; /* Set the flexbox display */
  flex-direction: row; /* Configure the flex items to row */
  flex-wrap: nowrap; /* Don’t wrap the flex items */
  justify-content: center; /* Justify the flex items to the center */
  align-items: center; /* Align the flex items to the center */

  /* Design properties */
  background-color: #0048ad;
  padding: 5px;

  /* Positioning properties */
  position: absolute;
  left: 20%;
  right: 20%;
  top: 40%; /* Change this value to move the box up or down */

  /*Debugging Tip: Uncomment the line below to see the outline of the container*/
  /*border-style: dotted;*/
}

/* TODO: Review the CSS properties to the flex item for the heading (the left box) */
.heading-home {
  padding: 2%;
  color: #c68dff;
  font-size: 30px;
  letter-spacing: 3px;
  line-height: 60px;
  text-align: center;

  /*Debugging Tip: Uncomment the line below to see the outline of the container*/
  /*border-style: dotted;*/
}

/* TODO: Review the CSS properties to the flex item for the intro text (the right box) */
.intro-text {
  background-color: #c68dff; /* Add your own background color */
  padding: 4%;
  margin: 3%;
  color: white; /* Add the color of your font */
  font-size: 22px; /* Add your font size*/
  letter-spacing: 2px; /* Adds space between letters */
  line-height: 1.4em; /* Adds space between lines */
  text-align: center;

  /*Debugging Tip: Uncomment the line below to see the outline of the container*/
  /*border-style: dotted;*/
}

/************************************************/
/*************** PARALLAX SCROLL ****************/
/************************************************/

/*-----------TEXT SECTIONS-----------*/

/* TODO (optional): Change the background color and/or text alignment */

.text-section {
  background-color: #0048ad;
  padding: 20px 45px;
  margin: 35px;
  text-align: center;
}

/*---------IMAGE STYLING + PARALLAX PROPERTY---------*/

/* TODO: Add the CSS selector for each image to the collective image rule set */

.main-message,
.image-one,
.image-two,
.image-three {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #c68dff;
  background-size: cover;
  min-height: 100%; /* This adjusts the height of the image */
  border: solid white;

  /* TODO: Add the property to create the parallax scrolling effect here */
  background-attachment: fixed;
}

/* TODO: Replace the current image URL with your own. This is the top image on your homepage. */
.main-message {
  background-image: url("https://cdn.glitch.com/0894986b-9e75-4168-802d-934984f54eb6%2FSPT-Vietnam-2018-F2-740x395.png?v=1592945837107");
}

/* TODO: Replace the current image URL with your own */
.image-one {
  background-image: url("https://cdn.glitch.com/0894986b-9e75-4168-802d-934984f54eb6%2FSPT-Vietnam-2018-F1.png?v=1592945854916");
}
/* TODO: Add a second background image. Make sure you add this class selector to the collective image rule set above */
.image-two {
  background-image: url("https://cdn.glitch.com/0894986b-9e75-4168-802d-934984f54eb6%2FSPT-Vietnam-2018-T1.png?v=1592945870339");
}
/* TODO: Add more background images by repeating the process above */
.image-three {
  background-image: url("https://cdn.glitch.com/0894986b-9e75-4168-802d-934984f54eb6%2F20854259519_7a1d54932d_c.jpg?v=1592977773752");
}
/*-----------IMAGE ATTRIBUTIONS (if required)-----------*/
.attributions {
  font-size: 12px;
  text-align: right;
  margin-right: 10px;
}

/******************************************************/
/***** CHANGE INDEX.HTML CSS BASED ON SCREEN SIZE *****/
/******************************************************/

/* TODO: Add a breakpoint if the screen is 700px or less */
@media only screen and (max-width: 700px) {
  
  .flex-container {
    flex-wrap: wrap;
    top: 20%;
  }
}

/* TODO: Add additional breakpoints based on your website's design */

/* tothetop button*/
#back-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 26px;
  width: 50x;
  height: 50px;
  background-color: solid white;
  color: #c68dff;
  cursor: pointer;
  outline: none;
  border: 3px #c68dff;
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}

#back-to-top-btn:hover, #back-to-top-btn:focus {
  background-color: #c68dff;
  color: #0048ad;
}

/* button animation */
.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}
/* zoom in*/
@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  }
}
.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: btnExit;
}
/* zoom out*/
@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}